body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #3498db;
    z-index: 1000;
}

header,
nav {
    padding: 0 1em;
    color: #fff;
}

nav {
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    font-size: smaller;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #34495e;
    color: #fff;
}

.bg_image {
    width: 100vw;
    height: 400px;
}


.bg_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/CC_BG.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    /* padding: 50px; */
    text-align: left;
    display: flex;
    align-items: center;
}

.bg_image>h2>span {
    font-size: 50px;
    transition: all .3s;
}

.bg_image>h2>span:hover {
    text-decoration: underline;
}

.logo {
    height: 70px;
    width: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo>img {
    height: 70px;
}

.logo>p {
    margin: 0 10px;
}

.tag_line {
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 80px;
}

.what-we-do>p>span {
    font-weight: bolder;
    text-decoration: underline;
}

.what-we-do>.highlight {
    margin-left: 30px;
}

section>h2 {
    text-decoration: underline;
}

.about-us>p>span {
    font-weight: bolder;
    text-decoration: underline;
}

#toggle-theme {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    /* Adjust color as needed */
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.copy {
    font-size: 10px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.copy>p>span>a:visited {
    color: red;
}


@media screen and (max-width: 600px) {
    .logo>p {
        display: none;
    }

    .tag_line {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/CC.png');
        /* Update with your image path */
        background-size: cover;
        background-position: center;
        color: #fff;
        padding: 50px;
        text-align: center;
    }


}

@media screen and (min-width:601px) {
    .tag_line {
        display: none;
    }
}


.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 16px;
    cursor: pointer;
}

/* Media query for screens smaller than 600 pixels (adjust the value as needed) */
@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #2c3e50;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        padding: 10px;
        margin-right: 0;
    }

    .mobile-menu-button {
        display: block;
    }

    .bg_image {
        display: none;
    }
}